<h1>All- Responses</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User-Email</th>
      <th scope="col">Quiz-Name</th>
      <th scope="col">Total-Score</th>
      <th scope="col">User-Score</th>
    </tr>
  </thead>
  <tbody>
  <% @leaderboard.each do |response|%>
    <tr>
      <th scope="row"><%= response.id%></th>
      <td><%= response.user.email%></td>
      <td><%= response.quizze.name%></td>
      <td><%= response.quizze.score%></td>
      <td><%= response.score%></td>

    </tr>
    <% end %>
  </tbody>
</table>
